body{
    background: #fafafa;
}

#container
{
    background: #3392FF;
    color: #fafafa;
    width: 70%;
    padding: 0px;
    text-align: center;
    margin: 0 auto; 
}

#container h1 
{
    font-size: 20px;
}
